
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SampleSOAGithub.Models.RandomInteger;


<h3>Random Integer: @Model.RandomInt</h3>

<h3>Max Random Integer: @Model.RandomMax</h3>

@*@foreach (var value in @Model.Buffer) {

    if (value != 0)
    {
        <h3>Array Random Integers: @value  </h3>
    }
}*@





