
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  IEnumerable<SampleSOAGithub.Models.Product>;

<h2>Index</h2>

@foreach(var product in Model) {
<ul>
    <li>@product.Name</li>
    <li>@product.Category</li>
    <li>@product.Price</li> 
</ul>

}



