
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  SampleSOAGithub.Models.Product;

<h2>Index</h2>

<ul>
    <li>@Model.Name</li>
    <li>@Model.Category</li>
    <li>@Model.Price</li>
</ul>


